<!DOCTYPE html>
<html>
<head>
  <title>CollegeVisitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <h1>Hello World for now</h1>
  
  <p>Populating...</p>
  
  
<%= yield %>

</body>
</html>
